AUTH_URL=http://localhost:8010
PHYSICAL_API_URL=http://localhost:8020
RISK_API_URL=http://localhost:8030

AUTH_CLIENT_ID=auth-api
AUTH_CLIENT_SECRET=change_me_auth_client_secret

JWT_SECRET_KEY=super_secret_jwt_key_change_me

SERVICE_NAME=gateway-api
